Source: ymp
Section: utils
Priority: optional
Maintainer: Ali Riza KESKIN <parduscix@yandex.ru>
Build-Depends: make,
               libarchive-dev,
               libreadline-dev,
               libcurl4-openssl-dev,
               libbrotli-dev,
               meson, gcc, valac
Standards-Version: 4.3.0
Homepage: https://sulix.gitlab.io

Package: ymp
Architecture: any
Depends: ${misc:Depends}, libc6, libarchive13, libreadline8, libcurl4
Description: Yerli ve Milli Package manager (ymp)
 A package manager for Sulix project
